:root {
  --color-primary: #b7b7e9;
  --ombre-color-primary: #9c9cc6;

  --bg-primary: #f4f4f4;
  --bg-secondary: #ffffff;

  --bor-rad-m: 8px;
  --bor-rad-l: 12px;

  --gap-main-block: 16px;
  --grid-column-task-card: 200px auto max-content max-content;
}
